body {
    margin: 0;
    padding: 0;
    background-color: #74809A;
    color: #2A3231;
    font-family: Georgia, "DejaVu Serif", Norasi, serif;
}

a {
    text-decoration: none;
}

a {
    color: #64708A;
}

a:visited {
    color: #94A0BA;
}

a:hover, a:visited:hover {
    color: #333;
}

/* Global structure */

.flashes {
    border: 1px solid #777;
    margin: 0;
    background-color: #C9E0CD;
    list-style-type: none;
}

.error {
    border: 1px solid #777;
    margin: 0;
    background-color: #E8C0C0;
    list-style-type: none;
}

.vbar {
    margin: 0;
    padding: 1px 10px;
    font-size: .8em;
    /*background-color: #8282A0;*/
    color: #FFF;
    border: #777 solid 0;
}

.vbar .index_link {
    float:left;
}

.vbar a {
    color: #F1F8FA;
    margin: 0 5px;
}

#content {
    background-color: #DDD;
    margin: 0;
    padding: 20px;
    text-align: justify;
}

#userbar {
    text-align: right;
    border-bottom-width: 2px;
}


#footer {
    text-align: center;
    border-top-width: 2px;
}

h1 {
    text-align: center;
    text-shadow: 0 1px 3px #111;
}

/* Forms */

form {
    width: 80ex;
    margin: auto;
    text-align: center;
}

dl {
    text-align: left;
}

.submit_button {
    text-align: right;
    padding-right: 40px;
}

dd {
    margin: 3px;
    text-align: center;
}

dd input {
    width: 80ex;
}

dt {
    margin: 10px 0 0 10ex;
    width: 60ex;
}

textarea {
    width: 80ex;
    height: 30ex;
}

.leavecomment textarea {
    height: 20ex;
}

form p {
    text-align: center;
    margin: 1px;
}


textarea, input[type=text], input[type=password] {
    background-color: #FDFAFD;
    border: 2px inset #DDD;
}

.post, .comments, table {
    width: 80%;
    margin: 10px auto;
}

/* Post display */

.commenttree {
    margin-left: 20px;
    padding: 0;
    list-style-type: None;
    border: 1px solid transparent;
}

.commenttree:hover {
    border-color: transparent transparent transparent #CECFD0;
}

.elem {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #CECFD0;
    border: 1px solid #AEB0BF;
}

.commentinfos {
    margin: 2px;
}

.commentcontent {
    margin: 5px 20px;
}

h3 {
    text-align: center;
}

/* List of posts */

.postlist .posttitle {
    font-size: 1.3em;
    font-weight: bolder;
}

.postlist .postauthor, .postlist .postdate {
    font-size: .8em;
}

.postlist .post {
    margin-bottom: 20px;
}
