{% from "macros.html" import mktitle, label, print_topics with context %}
{% set title = _("New post") %}
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <script type=text/javascript src="{{ url_for('static', filename='topics.js') }}" ></script>
{% endblock %}
{% block body %}

{{ mktitle(title) }}
{% set user = session["user"] %}
{% set f = request.form %}
    <form action="" method=POST>
        {% if not user %}
        <p>{% trans %}Warning: you won't be able to edit this post, since you are not logged in.{% endtrans %}</p>
        {% endif %}
        <dl>
            <dt>{{ label("author", _("Author:")) }}</dt>
            <dd>
            {% if user %}
                <input disabled id=author value={{ user.name }}>
            {% else %}
                <input type=text name=author id=author>
            {% endif %}
            </dd>

            <dt>{{ label("title", _("Title:")) }}</dt>
            <dd><input type=text name=title id=title value="{{ f.title }}"></dd>
            
            {{ print_topics(topics) }}

            <dt>{{ label("t_content", _("Content:")) }}</dt>
            <dd><textarea name=content id=t_content>{{ f.content }}</textarea></dd>


            {% if user %}
            <dt>{{ label("published", _("Publish:")) }}
            <input type=checkbox name=published id=published value=true></dt>
            {% endif %}
        </dl>
        <p class=submit_button><input type=submit></p>
    </form>
{% endblock %}
