{% from "macros.html" import mktitle, label with context %}
{% extends "layout.html" %}
{% block body %}
{% set title = _("New user") %}
{% block title %}{{ title }}{% endblock %}
  {{ mktitle(title) }}
  <form action="" method=post>
    <dl>
        <dt>{{ label("username", _("Username:")) }}</dt>
        <dd><input type=text name=username id=username value="{{
            request.forusername|e }}"></dd>
        <dt>{{ label("password", _("Password:")) }}</dt>
        <dd><input type=password name=password></dd>

        <dt>{{ label("email", _("Email (optional):")) }}</dt>
        <dd><input type=text name=email value="{{
            request.foremail }}"></dd>
    </dl>
    <p class=submit_button><input type=submit value="{{ _('Create') }}"></p>
</form>
{% endblock %}
