{% from "macros.html" import link_user %}

{% macro list_posts(posts, n=-1) %}
<div class=postlist>
{% for post in posts[:n] %}
    <div class=post>
        <a class=posttitle href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a>
        <br>
        {% if post.user.auth %}
            <a class=postauthor href="{{ url_for('show_user', user_id=post.author) }}">
                {{ post.user.name }}</a>,
        {% else %}
            <span class=postauthor>{{ post.user.name ~ " " ~ _("(Anonymous coward)") }},</span>
        {% endif %}
        <span class=postdate>{{ post.creation|dateformat }}</span>
    </div>
{% endfor %}
</div>
{% endmacro %}


{% macro print_comment(e) %}
    <div class="comment elem">
        <p class=commentinfos>
        {{ link_user(e.user) }}
        {{ e.creation|dateformat }}
        </p>
        <p class=commentcontent>
        {{ e.content|markdown|safe }}
        </p>
        <a class=respondcomment href="{{ url_for('add_comment', elem_id=e.id) }}">{{ _("Add comment") }}</a>
    </div>
{% endmacro %}

{% macro print_post(post) %}
    <div class="post elem">
        <p class="postinfos">
        {{ _("Author:") }}
        {{ link_user(post.user) }},
        {{ post.creation|dateformat }}
        </p>
        <p class="postcontent">
        {{ post.content|markdown|safe }}
        </p>
    </div>
{% endmacro %}

{% macro print_tree(tree) %}
{% if tree %}
    <ul class=commenttree>
    {% for t in tree %}
        <li>
            {{ print_comment(t[0]) }}
            {{ print_tree(t[1]) }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endmacro %}
