{% from "macros.html" import mktitle, author_input, label with context %}
{% from "display.html" import print_post, print_comment with context %}
{% set title = _("Edit/add comment") %}
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

{{ mktitle(title) }}

{% set f = request.form %}

{% if base_elem %}
    {% if base_elem.type == 0 %}
        {{ print_post(base_elem) }}
    {% else %}
        {{ print_comment(base_elem) }}
    {% endif %}
{% endif %}

{% set user = session["user"] %}
<form action="" method=POST>
    {% if not user %}
    <p>{% trans %}Warning: you won't be able to edit this comment, since you are not logged in.{% endtrans %}</p>
    {% endif %}
    <dl>
        {{ author_input(user) }}

        <dt>{{ label("t_content", _("Content:")) }}</dt>
        <dd><textarea name=content id=t_content>{{ f.content if f.content is defined else (elem.content if
            elem is defined else "") }}</textarea>
        </dd>
            
    </dl>
    <p class=submit_button><input type=submit></p>
</form>

{% endblock %}
