{% from "macros.html" import mktitle, print_topics, label with context %}
{% set title = _("Edit post") %}
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <script type=text/javascript src="{{ url_for('static', filename='topics.js') }}" ></script>
{% endblock %}
{% block body %}
{{ mktitle(title) }}

    {% set f = request.form %}
    <form action="" method=POST>
        <dl>
            <dt>{{ label("title", _("Title:")) }}</dt>
            <dd><input type=text id=title name=title id=title
                value="{{ f.title if f.title is defined else post.title }}"></dd>

            {{ print_topics(topics, post.topics) }}

            <dt>{{ label("t_content", _("Content:")) }}</dt>
            <dd><textarea name=content id=t_content>{{ f.content if f.content is defined else post.content }}</textarea>
                </dd>
                
            <dt>{{ label("published", _("Published:")) }}
            <input type=checkbox name=published id=published value=true {{ "checked" if not post.draft }}></dt>
            </dl>
        <p class=submit_button><input type=submit></p>
    </form>
{% endblock %}
