{% from "macros.html" import mktitle, label with context %}
{% extends "layout.html" %}
{% set title = _("Edit user") %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {{ mktitle(title) }}
    {% with user = session["user"] %}
    {% with f = request.form %}
    <form action="" method=post>
        <dl>
            <dt>{{ label("username", _("Username:")) }}</dt>
            <dd><input type=text name=username id=username value="{{
                f.username if f.username else user.name }}"></dd>
            <dt>{{ label("old_password", _("Old password (only required for password change):")) }}</dt>
            <dd><input type=password name=old id=old_password></dd>

            <dt>{{ label("password1", _("New password:")) }}</dt>
            <dd><input type=password name=password1 id=password1></dd>

            <dt>{{ label("password2", _("Retype new password:")) }}</dt>
            <dd><input type=password name=password2 id=password2></dd>

            <dt>{{ label("email", _("Email:")) }}</dt>
            <dd><input type=text name=email id=email value="{{
                f.email if f.email else user.email }}"></dd>

            <dt>{{ label("infos", _("About you:")) }}</dt>
            <dd><textarea name=infos id=infos>{{ f.infos if f.infos else (user.infos if user.infos else "") }}</textarea></dd>
        </dl>
        <p class=submit_button><input type=submit value="{{ _('Edit') }}"></p>
    </form>
    <form action="" method=post>
        {% if confirm_delete %}
            <p>{% trans %}After that, this account and all your contributions will be deleted. <strong>Are you sure ?</strong>{% endtrans %}</p>
            {{ label("password", _("Password:")) }}
            <input type=password name=password id=password>
            <input type=hidden value=yes name=delete>
        {% else %}
            <p>{% trans %}Delete account. <strong>WARNING :</strong> this cannot be undone.{% endtrans %}</p>
            <input type=hidden value=confirm name=delete>
        {% endif %}
        <input type=hidden value={{user.id}} name=userid>
        <p class=submit_button><input type=submit value="{{ _('Delete') }}"></p>
    </form>
    {% endwith %}
    {% endwith %}
{% endblock %}
