{% extends "layout.html" %}
{% from "display.html" import list_posts with context %}
{% block title %}Index{% endblock %}
{% block body %}
<h1>MDM</h1>

<p class=descr>

</p>

<h3>{{ _("The five last posts") }}</h3>

{{ list_posts(posts, 5) }}


{% endblock %}
