<!doctype html>
<html>
    <head>
        {% block head %}
        <title>Monde de merde - {% block title %}{% endblock %}</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='mdm.png') }}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% with user = session["user"] %}
            <p class=vbar id=userbar>
            <a class=index_link href="{{ url_for('index') }}">{{ _("Home") }}</a>
            <a class=index_link href="{{ url_for('add_post') }}">{{ _("New post") }}</a>
            {% if user %}
                <a href="{{ url_for('edit_user') }}">{{ user.name }}</a>
                <a href="{{ url_for('logout', next=request.path) }}">{{ _("Logout") }}</a>
            {% else %}
                <a href="{{ url_for('login', next=request.path) }}">{{ _("Login") }}</a>
                <a href="{{ url_for('add_user') }}">{{ _("Create account") }}</a>
            {% endif %}
            </p>
            {% endwith %}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        {% endblock %}

        {% macro err(error_) %}
            {% for e in error_ %}
                <li><strong>{{ _("Error:") }}</strong> {{ e }}</li>
            {% endfor %}
        {% endmacro %}
            
        {% if g.error or error%}
        <ul class=error>
            {{ err(error) }} {{ err(g.error) }}
        </ul>
        {% endif %}

        <div id=content>
        {% block body %}{% endblock %}
        </div>

        <div class=vbar id=footer>
            {% block footer %}By ^ - 2011{% endblock %}
        </div>
    </body>
</html>
