{% from "macros.html" import mktitle %}
{% from "display.html" import list_posts %}
{% set title = _("List posts") %}
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

{#
<table>
    <thead><tr>
        <td>{{ _("Author") }}</td>
        <td>{{ _("Title") }}</td>
        <td>{{ _("Creation") }}</td>
    </tr></thead>
    <tbody>
    {% for post in posts %}
    <tr>
        <td class=postuser>{% if post.user.auth %}
            <a href="{{ url_for('show_user', user_id=post.author) }}">
                {{ post.user.name }}</a></td>
            {% else %}
                {{ post.user.name }}
            {% endif %}
        <td class=posttitle><a href="{{ url_for('show_post', post_id=post.id) }}">
                {{ post.title }}</a></td>
        <td>{{ post.creation|dateformat }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
#}

{{ list_posts(posts) }}

{% endblock %}
