{% from "macros.html" import mktitle, label with context %}
{% extends "layout.html" %}
{% set title = _("Login") %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
  {{ mktitle(title) }}
  <form action="" method=post>
    <dl>
        <dt>{{ label("username", _("Username:")) }}</dt>
        <dd><input type=text name=username value="{{
            request.forusername }}"></dd>
        <dt>{{ label("password", _("Password:")) }}</dt>
        <dd><input type=password name=password></dd>
    </dl>
    <p class=submit_button><input type=submit value="{{ _('Login') }}"></p>
  </form>
{% endblock %}
