
{% macro err() %}
    {% if error %}
        <p class=error><strong>{{ _("Error:") }}</strong> {{ error }}</p>
    {% endif %}
{% endmacro %}

{% macro label(for, text) -%}
    <label for="{{ for }}">{{ text }}</label>
{% endmacro %}

{% macro mktitle(title) %}
    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}
{% endmacro %}

{% macro print_topics(topics, selected=[]) %}
    <dt>{{ label("topics", _("Topics:")) }}</dt>
    <dd>
    <select multiple=multiple onchange="select_topic()" id=topics name=topics>
        {% for t in topics %}
        <option value="{{ t }}" {{ "selected=selected" if t in selected }}>{{ t|truncate(80, True) }}</option>
        {% endfor %}
    </select>
    </dd>
    <p>{% trans %}Use the control key to select several topics{% endtrans %}</p>
    <dd><input type=text disabled=disabled id=selected_topics></dd>
    <dt>{{ label("topics", _("Add topics (separated by commas):")) }}</dt>
    <dd><input type=text name=new_topics id=new_topics></dd>
    <p>{% trans %}New topics will be moderated{% endtrans %}</p>
    <script type="text/javascript">
        select_topic()
    </script>
{% endmacro %}

{% macro author_input(user) %}
    <dt>{{ label("author", _("Author:")) }}</dt>
    <dd>
        {% if user %}
            <input disabled id=author value={{ user.name }}>
        {% else %}
            <input type=text name=author id=author>
        {% endif %}
    </dd>
{% endmacro %}

{% macro link_user(user) %}
    {% if user.level > 0 %}
        <a href="{{url_for('show_user', user_id=user.id) }}">{{ user.name }}</a>
    {% else %}
        {% if user.level == -2 %}
            {{ _("Deleted") }}
        {% else %}
            {{ _("%(name)s (Anonymous coward)", name=user.name) }}
        {% endif %}
    {% endif %}
{% endmacro %}
