{% from "macros.html" import mktitle, label, author_input with context %}
{% from "display.html" import print_tree, print_post with context %}
{% extends "layout.html" %}
{% set title = post.title|truncate %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
{{ mktitle(title) }}

{{ print_post(post) }}

<h3>{{ _("Add a comment") }}</h3>

{% set user = session["user"] %}
<form action="{{ url_for('add_comment', elem_id=post.id) }}" method=POST class=leavecomment>
    {% if not user %}
    <p>{% trans %}Warning: you won't be able to edit this comment, since you are not logged in.{% endtrans %}</p>
    {% endif %}
    <dl>
        {{ author_input(user) }}

        <dt>{{ label("t_content", _("Content:")) }}</dt>
        <dd><textarea name=content id=t_content></textarea></dd>
    </dl>
    <p class=submit_button><input type=submit></p>
</form>

<div class=comments>
{% if tree %}
    <h3>{{ _("Comments") }}</h3>
    {{ print_tree(tree) }}
{% else %}
    No comment
{% endif %}
</div>

{% endblock %}
