{% from "macros.html" import mktitle with context %}
{% extends "layout.html" %}
{% set title = _('User "%(name)s"', name=user.name) %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
{{ mktitle(title) }}
<p>
{% if user.infos %}
    <h2>{{ _("Infos :") }}</h2>
    {{ user.infos }}
{% else %}
    {% trans %}This user did not write any description{% endtrans %}
{% endif %}

{% if posts %}
<h2>{{ _("Posts written by this user:") }}</h2>
<table>
    <thead><tr>
        <td>{{ _("Title") }}</td>
        <td>{{ _("Creation") }}</td>
    </tr></thead>
    <tbody>
    {% for post in posts %}
    <tr>
        <td><a href="{{ url_for('show_post', post_id=post.id) }}">
                {{ post.title }}</a></td>
        <td>{{ post.creation|dateformat }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ trans }}This user has not written anything so far{{ endtrans }}
{% endif %}

</p>
{% endblock %}
